<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue Basics</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles.css" />
  <script src="https://unpkg.com/vue@next" defer></script>
  <script src="app.js" defer></script>
</head>

<body>
  <header>
    <h1>Monster Slayer</h1>
  </header>
  <div id="game">
    <section id="monster" class="container">
      <h2>{{ monster.name }}</h2>
      <div class="healthbar">
        <div :style="monsterHealthStyle" class="healthbar__value"></div>
      </div>
    </section>
    <section id="player" class="container">
      <h2>{{ player.name }}</h2>
      <div class="healthbar">
        <div :style="playerHealthStyle" class="healthbar__value"></div>
      </div>
    </section>

    <section v-if="game.isOver" id="gameOver">
      <h1>GAME OVER!</h1>
      <h2 v-if="game.isSurrender">You Surrendered. Chicken Nugget..</h2>
      <h2 v-else-if="game.isDraw">Draw!</h2>
      <h2 v-else>{{ game.winner }} Wins!</h2>
      <button @click="playAgain">PLAY AGAIN</button>
    </section>
    <section v-else id="controls">
      <button @click="attackMonster">ATTACK</button>
      <button :disabled="isSpecialAttackOnCd" @click="specialAttackMonster">SPECIAL ATTACK <span
          v-if="isSpecialAttackOnCd">({{player.specialAttackCd}})</span></button>
      <button :disabled="isHealOnCd" @click="healPlayer">HEAL <span v-if="isHealOnCd">({{player.healCd}})</span>
      </button>
      <button @click="surrender">SURRENDER</button>
    </section>

    <section id="log" class="container">
      <h2>Battle Log</h2>
      <ul>
        <li v-for="log in logs">{{ log.insertedAt }} -
          <span v-if="log.type==1"> <span class="attacker">{{ log.attacker }}</span> hits <span class="defender">{{ log.defender }}</span> <span class="damage">{{ log.damage }}</span> damage.</span>
          <span v-else-if="log.type==2"><span class="attacker">{{ log.attacker }}</span> heals <span class="heal">{{ log.heal }} health. </span></span>
          <span v-else>{{ log.message }}</span>
        </li>
      </ul>
    </section>
  </div>
</body>

</html>